<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon Application Automation Test Suite">

	<test name="Amazon Buy Mobile Phone Test Cases">
		<classes>
			<class name="com.test.qa.testcases.AmazonOrderTest"></class>
		</classes>
	</test>
</suite>